:root {
    --primary-color: #005c98;
    --secondary-color: #e06900;
    --accent1-color: #1C3041;
    --accent2-color: #ffffff;
    --heading-font: "Sarala";
    --body-font: "Ysabeau Office";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    background-color: var(--primary-color);
}

header img {
    width: 100px;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-family: var(--body-font);
    color: var(--accent2-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.history > * {
  min-width: 0;
}

video {
    display: block;
    width: 100%;
    height: auto;
}

.history > :first-child {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 100%;
}

.gallery > :first-child {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.gallery > * {
  min-width: 0;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 100%;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 600px;
    padding: 16px;
    text-align: justify;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 100px;
    border-style: dashed;
    border-width: 2px;
    border-color: var(--accent2-color);
    border-radius: 15px;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px 20px;
}

footer p {
    margin: 0;
}

footer nav {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.socialmedia a img {
    width: 24px;
    height: auto;
    display: block;
}